body{
    padding-top: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: wheat;
    color: chocolate;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
}

strong{
    color: black;
}
div{
    font-size: larger;
   
}
.abereoje1{
    color: blue;
    text-align: right;
    font-size: small;
    padding-right: 10px;
     
}
.abereoje1:hover{
    color: cyan;
}
a:hover{
    color: darkred;
}
.facebook{
    font-size: small;
}
.lorem{
    color: darkslategray;
    font-size: small;
    margin-left: 50px;
    margin-right: 50px;
}
.prep:hover{color: darkred;

}